[Unit]
Description=Disable Wi-Fi (called by timer)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/disable_wifi.sh
