[Unit]
Description=TeslaCam Snapshot & Archive
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tesla-usb-archive.sh
TimeoutSec=600
Nice=10
IOSchedulingClass=2
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target 