[Unit]
Description=Force WiFi enabled on boot and unblock any rfkill
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sleep 5; rfkill unblock all; rfkill unblock wifi; rfkill unblock 0; rfkill unblock 1; systemctl restart wpa_supplicant; systemctl restart dhcpcd; ip link set wlan0 up'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

